In [ ]:
%matplotlib inline

print('This id is for the python interpreter')
print('This id is for the python interpreter')

This id is for the python interpreter
This id is for the python interpreter

In [ ]:
from collections import defaultdict
l=[1,2,3,4,5,6,7,8]
adjlist={}
adjlist[0]=l
print(adjlist)
dd=defaultdict(list)
dd[0].append(l)
dd[1].append(l)
dd[2].append(l)
print(dd)

{0: [1, 2, 3, 4, 5, 6, 7, 8]}
defaultdict(<class 'list'>, {0: [[1, 2, 3, 4, 5, 6, 7, 8]], 1: [[1, 2, 3, 4, 5, 6, 7, 8]], 2: [[1, 2, 3, 4, 5, 6, 7, 8]]})

In [8]:
a =[1,2,3,4,5]
max(a[0:3])
for i in range(0,1):
    print(i)

0

In [4]:
max([1,3,6,7,8,9])

9

In [30]:
a=[[1,2],[3,4,5,6]]
a.pop()
a.extend(a.pop())
a.remove(1)
a.extend([3,4,5,6])

b=['ram','shyam','vivek','radhe']
b.index('shyam')

b.__sizeof__()
b.__iter__()
rev=[x for x in b.__reversed__()]
print(rev)
b.pop()

['radhe', 'vivek', 'shyam', 'ram']

'radhe'

In [13]:
a=['This is the case','This is my india']
print(a)

['This is the case', 'This is my india']

In [4]:
a={0:'ram',1:'shyam',2:'hanuman',3:'shyam'}
print(a)
print(type(a))
# a.remove('shyam')
a[0]

{0: 'ram', 1: 'shyam', 2: 'hanuman', 3: 'shyam'}
<class 'dict'>

'ram'

In [3]:
name='vivek'
name.count('v')

2

In [16]:
l=['a','b','c']
# id('a')
l.pop()
l.append('c')
l.insert(2,'c')

for i in range(len((l))):
    print(id(i))
    print(id(l[i]))
    print((id(l[i])))

10910368
140247261134608
140247261134608
10910400
140247261385872
140247261385872
10910432
140247261316184
140247261316184
10910464
140247261316184
140247261316184

In [6]:
#doubly link l
import llist
dll=llist.dllist()
dll.append(0)

In [11]:
#joining the string of numbers
stock='886 2777 6915 7793 8335 5386 492 6649 1421 2362 27 8690 59 7763 3926 540 3426 9172 5736 5211 5368 2567 6429 5782 1530 2862 5123 4067 3135 3929 9802 4022 3058 3069 8167 1393 8456 5011 8042 6229 7373 4421 4919 3784 8537 5198 4324 8315 4370 6413 3526 6091 8980 9956 1873 6862 9170 6996 7281 2305 925 7084 6327 336 6505 846 1729 1313 5857 6124 3895 9582 545 8814 3367 5434 364 4043 3750 1087 6808 7276 7178 5788'
stock1='5403 2651 2754 2399 9932 5060 9676 3368 7739 12 6226 8586 8094 7539 795 570 1434 378 7467 6601 97 2902 3317 492 6652 756 7301 280 4286 9441 3865 9689 8444 6619 8440 4729 8031 8117 8097 5771 4481 675 709 8927 4567 7856 9497 2353 4586 6965 5306 4683 6219 8624 1528 2871 5732 8829 9503 19 8270 3368 9708 6715 6340 8149 7796 723 2618 2245 2846 3451 2921 3555 2379 7488 7764 8228 9841 2350 5193 1500 7034 7764 124'
stckprice=[int(i) for i in stock1.split()]
print(stckprice)

[5403, 2651, 2754, 2399, 9932, 5060, 9676, 3368, 7739, 12, 6226, 8586, 8094, 7539, 795, 570, 1434, 378, 7467, 6601, 97, 2902, 3317, 492, 6652, 756, 7301, 280, 4286, 9441, 3865, 9689, 8444, 6619, 8440, 4729, 8031, 8117, 8097, 5771, 4481, 675, 709, 8927, 4567, 7856, 9497, 2353, 4586, 6965, 5306, 4683, 6219, 8624, 1528, 2871, 5732, 8829, 9503, 19, 8270, 3368, 9708, 6715, 6340, 8149, 7796, 723, 2618, 2245, 2846, 3451, 2921, 3555, 2379, 7488, 7764, 8228, 9841, 2350, 5193, 1500, 7034, 7764, 124]

In [15]:
x = range(10,-1)

for n in x:
  print(n,end=' ')

In [16]:
str1='(1 2) (3 4) (5 6) (7 8) (9 11) (15 16) (17 18) (20 22) (23 24) (25 26) (27 29) (30 31) (33 34) (35 37) (41 43) (44 46) (47 49) (51 53) (54 58) (59 60) (61 62) (64 65) (67 68) (69 71) (72 73) (74 78) (79 80) (81 83)'
str2='(1 2) (3 4) (5 6) (7 8) (9 11) (15 16) (17 18) (20 22) (23 24) (25 26) (27 29) (30 31) (33 34) (35 37) (41 43) (44 46) (47 49) (51 53) (54 58) (59 60) (61 62) (64 65) (67 68) (69 71) (72 73) (74 78) (79 80) (81 83)'
print(str1==str2)

True

In [ ]:
#dictionary operation sorting opeeration
train={1:2,3:4,5:6,1:9}
print(train.items())
ttrain=list(train)

print(ttrain)
ntrain=(sorted(train.items(),key=lambda item:item[1]))
print(ntrain)
sorttuple=sorted(ntrain,key=lambda x:x[0])
print(sorttuple)


from operator import itemgetter

sd=sorted(train.items(),key=itemgetter(0))

dict_items([(1, 9), (3, 4), (5, 6)])
[1, 3, 5]
[(3, 4), (5, 6), (1, 9)]
[(1, 9), (3, 4), (5, 6)]

In [ ]:
cook=['aa1','aa2','bb1','cc1']
print('aa1' in cook)