In [4]:
#Engine for the sql table create
# Replace 'mydatabase.db' with your desired database name
from sqlalchemy import create_engine
# engine = create_engine('sqlite:///smart_expenses.db')

In [5]:
# default
engine = create_engine("postgresql://postgres:iitg@localhost/smart_expenses")

In [6]:
import pandas as pd
axio=pd.read_csv("./expenses/axio_expense_report_01-03-2020_to_31-01-2025.csv")
axio_new=axio.iloc[4:,].reset_index()
axio_new.columns=axio_new.iloc[0]
axio_new.drop(labels=0,axis=0,inplace=True)
axio_new1=axio_new.drop(columns=[4])

In [7]:
#python
# Specify the table name and database engine
table_name = 'axio'
# Export the DataFrame to the SQLite database
axio_new1.to_sql(table_name, engine, if_exists='replace', index=False)

334

In [5]:
# Query data from the SQLite database
query = "SELECT * FROM axio"
result_df = pd.read_sql(query, engine)
print(result_df.tail())

            DATE      TIME                PLACE AMOUNT DR/CR      ACCOUNT  \
5329  2025-01-05  02:15 PM             HAIR CUT    100    DR    SBI  7281
5330  2025-01-07  08:21 PM  FOR PATHRI MEDICINE    220    DR  CASH Spends
5331  2025-01-07  08:22 PM             RELIANCE  1,862    DR    SBI  7281
5332  2025-01-08  12:16 PM         AJAY RAJPOOT  1,180    DR    SBI  7281
5333        None      None                 None   None  None         None

      EXPENSE INCOME     CATEGORY  TAGS                  NOTE
5329      Yes     '-       LIVING  None              Hair Cut
5330       No     '-       HEALTH  None  Shankargarh Jakhlaun
5331      Yes     '-    GROCERIES  None        Oil and Cashew
5332      Yes     '-  DREAM HOUSE  None    Angle 1.5 Inch @61
5333  POWERED     BY         axio  None    https://axio.co.in

In [6]:
#getting data from the andromoney
andro_df=pd.read_csv("./expenses/AndroMoney_walnut.csv")
#change the dtaetime formate
# andro_df['Date'] = andro_df['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
andro_df['Date'] = pd.to_datetime(andro_df['Date'].astype(str), format='%Y%m%d',errors='coerce')
andro_df['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5213 entries, 0 to 5212
Series name: Date
Non-Null Count  Dtype
--------------  -----
5196 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 40.9 KB

In [7]:
andro_new=andro_df.iloc[17:,].reset_index()

In [1]:
import random
import numpy as np
axio_new2=axio_new1.drop(columns=["DR/CR"])
axio_new2.assign(Currency=["INR" for _ in  range(len(axio_new2.index))])
# axio_new2.assign(Id=[random.randint(1,7000) for x in range(len(axio_new2.index))])
# axio_new2.assign(Periodic=[None for x in range(len(axio_new2.index))])
len(axio_new2.columns)

NameError: name 'axio_new1' is not defined

In [9]:
axio_new2.columns

Index(['DATE', 'TIME', 'PLACE', 'AMOUNT', 'ACCOUNT', 'EXPENSE', 'INCOME',
       'CATEGORY', 'TAGS', 'NOTE'],
      dtype='object', name=0)

In [12]:
print(axio_new2.columns)
print(andro_new.columns)

Index(['DATE', 'TIME', 'PLACE', 'AMOUNT', 'ACCOUNT', 'EXPENSE', 'INCOME',
       'CATEGORY', 'TAGS', 'NOTE'],
      dtype='object', name=0)
Index(['index', 'Id', 'Currency', 'Amount', 'Category', 'Sub-Category', 'Date',
       'Expense(Transfer Out)', 'Income(Transfer In)', 'Note', 'Periodic',
       'Project', 'Payee/Payer', 'uid', 'Time'],
      dtype='object')

In [13]:
#creating a dictionary for the new dataframe to make it mutual compatible 
from collections import OrderedDict
col_dict=OrderedDict({'Date':"DATE",'Time':'TIME',"Payee/Payer":"PLACE","Amount":"AMOUNT",'Payee/Payer':'ACCOUNT',"Expense(Transfer Out)":"EXPENSE","Income(Transfer In)":"INCOME",'Category':'CATEGORY','Sub-Category':'TAGS','Note':'NOTE','DR/CR':"DR/CR"})

rev_dict=dict()
for key,value in col_dict.items():
    rev_dict[value]=key
print(rev_dict)

{'DATE': 'Date', 'TIME': 'Time', 'ACCOUNT': 'Payee/Payer', 'AMOUNT': 'Amount', 'EXPENSE': 'Expense(Transfer Out)', 'INCOME': 'Income(Transfer In)', 'CATEGORY': 'Category', 'TAGS': 'Sub-Category', 'NOTE': 'Note', 'DR/CR': 'DR/CR'}

In [21]:
#Andro to axio
new_andro.drop(columns=["index"])
new_andro.rename(columns={'Date':"DATE",'Time':'TIME',"Payee/Payer":"PLACE","Amount":"AMOUNT",'DR/CR','Payee/Payer':'ACCOUNT',"Expense(Transfer Out)":"EXPENSE","Income(Transfer In)":"INCOME",'Category':'CATEGORY','Sub-Category':'TAGS','Note':'NOTE'}

,Id,Currency,Amount,Category,Sub-Category,Date,Expense(Transfer Out),Income(Transfer In),Note,Periodic,Project,Payee/Payer,uid,Time
0,28,INR,5000.0,Income,Salary,2016-01-01,NaN,SBI bank,NaN,NaN,NaN,NaN,16E99FFF59264645A3BBF8D7482479A9,2333.0
1,25,INR,2147.0,Online Shoping,Pants,2016-01-05,SBI bank,NaN,Two Jeans Peter England ，Tshirts Maroon,NaN,NaN,Paytm,37F56E68274847B59ECA0F86645AE2D2,2233.0
2,20,INR,960.0,Online Shoping,Accessories,2016-01-05,SBI bank,NaN,Wireless Mouse and Keyboard,NaN,NaN,Paytm,C68F1AD39EE64EEFB8842CCE63E37531,2213.0
3,49,INR,346.0,Personal 3C,Cell Phone,2016-01-06,Cash,NaN,290-TopUp and 56 Net on 18-01,NaN,NaN,Paytm,y0uXRcYt6lwJsdznQDmeLQ,1818.0
4,27,INR,75000.0,Income,Salary,2016-01-06,NaN,SBI bank,6 Jan,NaN,NaN,NaN,9A913B8C43AF441D96B33B255CBE95FD,2332.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,5245,INR,641.0,Living,Gas,2020-10-03,SBI bank,NaN,Lpg Cylinder,NaN,NaN,NaN,a438e5e655634b24b496036c309901e6,1505.0
5192,5244,INR,60.0,Food,Various,2020-10-03,Cash,NaN,Shri Neelkantheshwer Ji,NaN,NaN,NaN,0eed5e4fccc141c4b8ee81fd5dda7085,1505.0
5193,5249,INR,2000.0,Living,Various,2020-10-06,Cash,NaN,Cash For Home Expenses,NaN,NaN,NaN,0b68ffa374c2472db84d1a6e840beb41,1512.0
5194,5248,INR,9000.0,Living,Rent,2020-10-06,SBI bank,NaN,To Ramya for Sep,NaN,NaN,NaN,47e59a2650c04c2c9f17f3afc7c4c59d,1512.0
5195,5247,INR,402.0,Living,Clothes and Wearing,2020-10-06,Amex Gold Reward,NaN,Amazon Vanya Krti,NaN,NaN,NaN,6d993b61a4314e1997085782847bf52f,1505.0

In [8]:
# Specify the table name and database engine
table_name = 'andro_money'
# Export the DataFrame to the SQLite database
andro_df.to_sql(table_name, engine, if_exists='replace', index=False)

213