data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Hobbies': [['Reading', 'Cycling'], ['Cooking'], ['Hiking', 'Swimming', 'Gaming']]
}

Name    Hobbies
0    Alice    Reading
0    Alice    Cycling
1      Bob    Cooking
2  Charlie     Hiking
2  Charlie   Swimming
2  Charlie     Gaming

In [21]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Hobbies': [['Reading', 'Cycling'], ['Cooking'], ['Hiking', 'Swimming', 'Gaming']]
}

# for i in range(len(data['Hobbies'])):
#     for j in range(len(data['Hobbies'][i])-1):
#       data['Name'].insert(i,data['Name'][i])
# print(data)
        
    

import pandas as pd
df=pd.DataFrame(data)
df=df.explode('Hobbies')
print(df)

      Name   Hobbies
0    Alice   Reading
0    Alice   Cycling
1      Bob   Cooking
2  Charlie    Hiking
2  Charlie  Swimming
2  Charlie    Gaming

In [ ]:
Customer
CustomerID	PurchaseAmount	TransactionDate
101	200	2023-01-10
102	150	2023-01-12
101	300	2023-01-15
103	400	2023-01-11
102	100	2023-01-20
 
101	250	2023-02-01
 
 
CustomerID	FirstPurchaseAmount
101	200
102	150 
103	400

Select CustomerID , PurchaseAmount as FirstPurchaseAmount
from Customer as T1
join Customer as T2 on T1.CustomerID = T2.CustomerID
having T1.TransactionDate < all(T2.TransactionDate)